<h2>Add</h2>
<h3>animation</h3>
<code>\{{t-add}}</code> {{t-add id="add-default"}}
<code>\{{t-add a="minus"}}</code> {{t-add a="minus"}}
<code>\{{t-add a="check"}}</code> {{t-add a="check"}}
<code>\{{t-add a="typo"}}</code> {{t-add a="typo"}}

<h3>is-added</h3>
<code>\{{t-add is-added=true}}</code> {{t-add is-added=true}}

<h3>action</h3>
<code>\{{t-add is-added=isAdded action=(action "updateAddControllerProperty")}}</code> {{t-add is-added=isAdded action=(action "updateAddControllerProperty")}}
<p>isAdded = {{isAdded}}</p>