<h1 id="title">ember-cli-transformicons</h1>

<nav class="site-nav">
  {{link-to 'Menu' 'menu'}}
  {{link-to 'Grid' 'grid'}}
  {{link-to 'Add' 'add'}}
  {{link-to 'Remove' 'remove'}}
  {{link-to 'Mail' 'mail'}}
  {{link-to 'Video' 'video'}}
  {{link-to 'Loader' 'loader'}}
</nav>

{{outlet}}
