<div class="container">
  <div class="page-header">
    <h1>ember-cli-transformicons</h1><iframe src="https://ghbtns.com/github-btn.html?user=alexdiliberto&repo=ember-cli-transformicons&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <nav class="btn-group" role="group">
        {{link-to 'Menu' 'menu' class="btn btn-default" role="button"}}
        {{link-to 'Grid' 'grid' class="btn btn-default" role="button"}}
        {{link-to 'Add' 'add' class="btn btn-default" role="button"}}
        {{link-to 'Remove' 'remove' class="btn btn-default" role="button"}}
        {{link-to 'Scroll' 'scroll' class="btn btn-default" role="button"}}
        {{link-to 'Mail' 'mail' class="btn btn-default" role="button"}}
        {{link-to 'Form' 'form' class="btn btn-default" role="button"}}
        {{link-to 'Video' 'video' class="btn btn-default" role="button"}}
        {{link-to 'Loader' 'loader' class="btn btn-default" role="button"}}
      </nav>
    </div>
  </div>

  {{outlet}}
</div>

<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
