<div class="container">
  <div class="page-header">
    <h1>ember-cli-transformicons</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <nav class="btn-group" role="group">
        {{link-to 'Menu' 'menu' class="btn btn-default" role="button"}}
        {{link-to 'Grid' 'grid' class="btn btn-default" role="button"}}
        {{link-to 'Add' 'add' class="btn btn-default" role="button"}}
        {{link-to 'Remove' 'remove' class="btn btn-default" role="button"}}
        {{link-to 'Mail' 'mail' class="btn btn-default" role="button"}}
        {{link-to 'Video' 'video' class="btn btn-default" role="button"}}
        {{link-to 'Loader' 'loader' class="btn btn-default" role="button"}}
      </nav>
    </div>
  </div>

  {{outlet}}
</div>