<div class="row">
  <div class="col-xs-12">
    <h2>Form</h2>

    <h3>animation</h3>
    <code>\{{t-form}}</code> {{t-form id="form-default"}}

    <h3>is-searching</h3>
    <code>\{{t-form is-searching=true}}</code> {{t-form is-searching=true}}

    <h3>onclick action</h3>
    <code>\{{t-form is-searching=isSearching onclick=(action "updateFormAction")}}</code> {{t-form is-searching=isSearching onclick=(action "updateFormAction")}}
    <p>isSearching = {{isSearching}}</p>
  </div>
</div>
