<div class="row">
  <div class="col-xs-12">
    <h2>Grid</h2>
    <h3>animation</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <code>\{{t-grid}}</code> {{t-grid id="grid-default"}}
    <code>\{{t-grid a="rearrange"}}</code> {{t-grid a="rearrange"}}
  </div>
  <div class="col-xs-6">
    <code>\{{t-grid a="collapse"}}</code> {{t-grid a="collapse"}}
    <code>\{{t-grid a="typo"}}</code> {{t-grid a="typo"}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>is-open</h3>
    <code>\{{t-grid is-open=true}}</code> {{t-grid is-open=true}}

    <h3>action</h3>
    <code>\{{t-grid is-open=isGridOpen action=(action "updateGridControllerProperty")}}</code> {{t-grid is-open=isGridOpen action=(action "updateGridControllerProperty")}}
    <p>isGridOpen = {{isGridOpen}}</p>
  </div>
</div>