<h2>Grid</h2>
<h3>animation</h3>
<code>\{{t-grid}}</code> {{t-grid id="grid-default"}}
<code>\{{t-grid a="rearrange"}}</code> {{t-grid a="rearrange"}}
<code>\{{t-grid a="collapse"}}</code> {{t-grid a="collapse"}}
<code>\{{t-grid a="some_random_typo"}}</code> {{t-grid a="some_random_typo"}}

<h3>is-open</h3>
<code>\{{t-grid is-open=true}}</code> {{t-grid is-open=true}}

<h3>action</h3>
<code>\{{t-grid is-open=isGridOpen action="updateGridControllerProperty"}}</code> {{t-grid is-open=isGridOpen action="updateGridControllerProperty"}}
<p>isGridOpen = {{isGridOpen}}</p>
