<h2>Menu</h2>

<code>\{{t-menu}}</code> {{t-menu}}
<code>\{{t-menu type="butterfly"}}</code> {{t-menu type="butterfly"}}
<code>\{{t-menu type="minus"}}</code> {{t-menu type="minus"}}
<code>\{{t-menu type="x-cross"}}</code> {{t-menu type="x-cross"}}
<code>\{{t-menu type="arrow-up"}}</code> {{t-menu type="arrow-up"}}
<code>\{{t-menu type="arrow-360-left"}}</code> {{t-menu type="arrow-360-left"}}
<code>\{{t-menu type="arrow-left"}}</code> {{t-menu type="arrow-left"}}

<h2>Grid</h2>

<code>\{{t-grid}}</code> {{t-grid}}
<code>\{{t-grid type="rearrange"}}</code> {{t-grid type="rearrange"}}
<code>\{{t-grid type="collapse"}}</code> {{t-grid type="collapse"}}

<h2>Add/Remove</h2>

<code>\{{t-plus}}</code> {{t-plus}}
<code>\{{t-plus type="minus"}}</code> {{t-plus type="minus"}}
<code>\{{t-plus type="check"}}</code> {{t-plus type="check"}}
<code>\{{t-plus type="minus-fold"}}</code> {{t-plus type="minus-fold"}}
<code>\{{t-plus type="circle"}}</code> {{t-plus type="circle"}}

<h2>Mail</h2>

<code style="padding-bottom: 15px; display: inline-block;">\{{t-mail}}</code> {{t-mail}}

<h2>Video</h2>

<code>\{{t-video}}</code> {{t-video}}

<h2>Loader</h2>

<code>\{{t-loader}}</code> {{t-loader}}
