<h1>Menu</h1>

{{t-menu}}
{{t-menu type="butterfly"}}
{{t-menu type="minus"}}
{{t-menu type="x-cross"}}
{{t-menu type="arrow-up"}}
{{t-menu type="arrow-360-left"}}
{{t-menu type="arrow-left"}}

<h1>Grid</h1>

{{t-grid}}
{{t-grid type="rearrange"}}
{{t-grid type="collapse"}}

<h1>Add/Remove</h1>

{{t-plus}}
{{t-plus type="minus"}}
{{t-plus type="check"}}
{{t-plus type="minus-fold"}}
{{t-plus type="circle"}}

<h1>Mail</h1>

{{t-mail}}

<h1>Video</h1>

{{t-video}}

<h1>Loader</h1>

{{t-loader}}
