<h2>Menu</h2>
<h3>animation</h3>
<code>\{{t-menu}}</code> {{t-menu}}
<code>\{{t-menu a="butterfly"}}</code> {{t-menu a="butterfly"}}
<code>\{{t-menu a="minus"}}</code> {{t-menu a="minus"}}
<code>\{{t-menu a="x-cross"}}</code> {{t-menu a="x-cross"}}
<code>\{{t-menu a="arrow-up"}}</code> {{t-menu a="arrow-up"}}
<code>\{{t-menu a="arrow-360-left"}}</code> {{t-menu a="arrow-360-left"}}
<code>\{{t-menu a="arrow-left"}}</code> {{t-menu a="arrow-left"}}
<code>\{{t-menu a="some_random_typo"}}</code> {{t-menu a="some_random_typo"}}

<h3>is-open</h3>
<code>\{{t-menu is-open=true}}</code> {{t-menu is-open=true}}

<h3>action</h3>
<code>\{{t-menu is-open=isMenuOpen action="updateMenuControllerProperty"}}</code> {{t-menu is-open=isMenuOpen action="updateMenuControllerProperty"}}
<p>isMenuOpen = {{isMenuOpen}}</p>


<h2>Grid</h2>
<h3>animation</h3>
<code>\{{t-grid}}</code> {{t-grid}}
<code>\{{t-grid a="rearrange"}}</code> {{t-grid a="rearrange"}}
<code>\{{t-grid a="collapse"}}</code> {{t-grid a="collapse"}}

<h3>is-open</h3>
<code>\{{t-grid is-open=true}}</code> {{t-grid is-open=true}}

<h3>action</h3>
<code>\{{t-grid is-open=isGridOpen action="updateGridControllerProperty"}}</code> {{t-grid is-open=isGridOpen action="updateGridControllerProperty"}}
<p>isGridOpen = {{isGridOpen}}</p>


<h2>Add/Remove</h2>

<code>\{{t-plus}}</code> {{t-plus}}
<code>\{{t-plus a="minus"}}</code> {{t-plus a="minus"}}
<code>\{{t-plus a="check"}}</code> {{t-plus a="check"}}
<code>\{{t-plus a="minus-fold"}}</code> {{t-plus a="minus-fold"}}
<code>\{{t-plus a="circle"}}</code> {{t-plus a="circle"}}


<h2>Mail</h2>

<code style="padding-bottom: 15px; display: inline-block;">\{{t-mail}}</code> {{t-mail}}


<h2>Video</h2>

<code>\{{t-video}}</code> {{t-video}}


<h2>Loader</h2>

<code>\{{t-loader}}</code> {{t-loader}}
