<div class="row">
  <div class="col-xs-12">
    <h2>Mail</h2>

    <h3>animation</h3>
    <code class="mail">\{{t-mail}}</code> {{t-mail id="mail-default"}}

    <h3>is-open</h3>
    <code class="mail">\{{t-mail is-open=false}}</code> {{t-mail is-open=false}}

    <h3>onclick action</h3>
    <code class="mail">\{{t-mail is-open=hasUnreadMail onclick=(action "updateMailAction")}}</code> {{t-mail is-open=hasUnreadMail onclick=(action "updateMailAction")}}
    <p>hasUnreadMail = {{hasUnreadMail}}</p>
  </div>
</div>
