<h2>Mail</h2>
<code style="padding-bottom: 15px; display: inline-block;">\{{t-mail}}</code> {{t-mail id="mail-default"}}

<h3>is-open</h3>
<code style="padding-bottom: 15px; display: inline-block;">\{{t-mail is-open=false}}</code> {{t-mail is-open=false}}

<h3>action</h3>
<code style="padding-bottom: 15px; display: inline-block;">\{{t-mail is-open=hasUnreadMail action="updateMailControllerProperty"}}</code> {{t-mail is-open=hasUnreadMail action="updateMailControllerProperty"}}
<p>hasUnreadMail = {{hasUnreadMail}}</p>
