<h2>Menu</h2>
<h3>animation</h3>
<code>\{{t-menu}}</code> {{t-menu id="menu-default"}}
<code>\{{t-menu a="butterfly"}}</code> {{t-menu a="butterfly"}}
<code>\{{t-menu a="minus"}}</code> {{t-menu a="minus"}}
<code>\{{t-menu a="x-cross"}}</code> {{t-menu a="x-cross"}}
<code>\{{t-menu a="arrow-up"}}</code> {{t-menu a="arrow-up"}}
<code>\{{t-menu a="arrow-360-left"}}</code> {{t-menu a="arrow-360-left"}}
<code>\{{t-menu a="arrow-left"}}</code> {{t-menu a="arrow-left"}}
<code>\{{t-menu a="typo"}}</code> {{t-menu a="typo"}}

<h3>is-open</h3>
<code>\{{t-menu is-open=true}}</code> {{t-menu is-open=true}}

<h3>action</h3>
<code>\{{t-menu is-open=isMenuOpen action="updateMenuControllerProperty"}}</code> {{t-menu is-open=isMenuOpen action="updateMenuControllerProperty"}}
<p>isMenuOpen = {{isMenuOpen}}</p>
