<h2>Remove</h2>
<code>\{{t-remove}}</code> {{t-remove id="remove-default"}}
<code>\{{t-remove a="check"}}</code> {{t-remove a="check"}}
<code>\{{t-remove a="chevron-left"}}</code> {{t-remove a="chevron-left"}}
<code>\{{t-remove a="chevron-right"}}</code> {{t-remove a="chevron-right"}}
<code>\{{t-remove a="chevron-down"}}</code> {{t-remove a="chevron-down"}}
<code>\{{t-remove a="chevron-up"}}</code> {{t-remove a="chevron-up"}}
<code>\{{t-remove a="typo"}}</code> {{t-remove a="typo"}}

<h3>is-removed</h3>
<code>\{{t-remove is-removed=true}}</code> {{t-remove is-removed=true}}

<h3>action</h3>
<code>\{{t-remove is-removed=isRemoved action=(action "updateRemoveControllerProperty")}}</code> {{t-remove is-removed=isRemoved action=(action "updateRemoveControllerProperty")}}
<p>isRemoved = {{isRemoved}}</p>