<div class="row">
  <div class="col-xs-12">
    <h2>Remove</h2>
    <h3>animation</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <code>\{{t-remove}}</code> {{t-remove id="remove-default"}}
    <code>\{{t-remove a="check"}}</code> {{t-remove a="check"}}
    <code>\{{t-remove a="chevron-left"}}</code> {{t-remove a="chevron-left"}}
    <code>\{{t-remove a="chevron-right"}}</code> {{t-remove a="chevron-right"}}
  </div>
  <div class="col-xs-6">
    <code>\{{t-remove a="chevron-down"}}</code> {{t-remove a="chevron-down"}}
    <code>\{{t-remove a="chevron-up"}}</code> {{t-remove a="chevron-up"}}
    <code>\{{t-remove a="typo"}}</code> {{t-remove a="typo"}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>is-removed</h3>
    <code>\{{t-remove is-removed=true}}</code> {{t-remove is-removed=true}}

    <h3>onclick action</h3>
    <code>\{{t-remove is-removed=isRemoved onclick=(action "updateRemoveAction")}}</code> {{t-remove is-removed=isRemoved onclick=(action "updateRemoveAction")}}
    <p>isRemoved = {{isRemoved}}</p>
  </div>
</div>
