<div class="row">
  <div class="col-xs-12">
    <h2>Video</h2>

    <h3>animation</h3>
    <code>\{{t-video}}</code> {{t-video id="video-default"}}

    <h3>is-playing</h3>
    <code>\{{t-video is-playing=true}}</code> {{t-video is-playing=true}}

    <h3>onclick action</h3>
    <code>\{{t-video is-playing=isVideoPlaying onclick=(action "updateVideoAction")}}</code> {{t-video is-playing=isVideoPlaying onclick=(action "updateVideoAction")}}
    <p>isVideoPlaying = {{isVideoPlaying}}</p>
  </div>
</div>
