<h2>Video</h2>
<code>\{{t-video}}</code> {{t-video id="video-default"}}

<h3>is-playing</h3>
<code>\{{t-video is-playing=true}}</code> {{t-video is-playing=true}}

<h3>action</h3>
<code>\{{t-video is-playing=isVideoPlaying action=(action "updateVideoControllerProperty")}}</code> {{t-video is-playing=isVideoPlaying action=(action "updateVideoControllerProperty")}}
<p>isVideoPlaying = {{isVideoPlaying}}</p>
